@using System
@using System.Collections.Generic
@using GeneticLibrary
@functions
{
  bool isCorrectBitString(string bitString)
  {
    foreach (char c in bitString)
    {
      if (c != '0' && c != '1')
        return false;
    }
    return true;
  }
}
@{
  const string prompt = "1010101110101";
  String userInput = "";

  LinkedList<String> reportList = new LinkedList<string>();
  if (IsPost)
  {
    userInput = Request["bit_string"];

    if (isCorrectBitString(userInput))
    {
      FitnessCalc.SetSolution(userInput);
      Population population = new Population(50, true);
      int generationCount = 0;
      Individual fittestIndividual = population.FittestIndividual();
      while (fittestIndividual.GetFitness() < FitnessCalc.GetSolutionFitness())
      {
        ++generationCount;
        reportList.AddFirst("----------------------------------------------------------");
        reportList.AddFirst(String.Format("Fittest individual\n{0}", fittestIndividual));
        reportList.AddFirst(String.Format("Generation {0} with fit = {1}", generationCount, fittestIndividual.GetFitness()));

        population = GAlgorithm.EvolvePopulation(population);
        fittestIndividual = population.FittestIndividual();
      }
      reportList.AddFirst("----------------------------------------------------------");
      reportList.AddFirst(String.Format("Fittest individual \n{0}", fittestIndividual));
      reportList.AddFirst(String.Format("Solution was found on generation {0} with fit = {1}", generationCount, fittestIndividual.GetFitness()));
    }
    else
    {
      reportList.AddFirst("Your input was incorrect");
    }
  }
}
<html>
<head>
  <link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <div id="input_form">
    <form action="" method="POST">
      <p>Please input bitstring (from 0 and 1)</p>
      <input type="text" id="bit_string" name="bit_string" value="@prompt" />
      <input type="submit" value="Start" />
    </form>

    <p>Your input was @userInput</p>
  </div>
  <div id="answer_div">
    <p>Answer log is: </p>
    <div id="answer_log">
      @{
        foreach (string s in reportList)
        {
          <p>@s</p>
        }
      }
    </div>
  </div>
</body>
</html>